body {
    background-image: url('class.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana;
    font-size: 20px;
    padding-top: 50px;
}

#data{
    background-color: rgba(143, 229, 255, 0.378);
    color: rgb(118, 183, 249);
    margin: 30px auto;
    width:fit-content;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 10px 5px 10px 10px rgba(206, 206, 206, 0.517);
    }
    
    section{
        margin : 20px;
    }
    section table{
        font-size: small;
        color: rgb(255, 255, 255);
    }
    section table td {
        padding-top: 10px;
        font-weight: 800;
    }
    
    a:hover{
        background-color: rgb(122, 187, 252);
        display: block;
        text-decoration: none;
        color:aliceblue;
        background-size:auto;
    }

.clear{
    clear: both;
   }